@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


#alert {
    text-align: center;
    color: white;
    font-size: 30px;
}

body {
    text-align: center;
    background: black;
    height: 100%;
    width: 100%;
}

.box { 
    border-radius: 10px;
}


html {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: white;

}

p {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 10px;
    height: 50%;
    justify-content: center;
    align-content: center;
}

.parent > div {
    padding: 10px;
    background-color: grey;
    
}

#play-button {
    font-size: 1.3em;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    padding:.5em;
    background-color: yellow;
    color: black;
    position:relative;
    display: block;
    margin-bottom: 1.5em;
    margin: 1em auto 0 auto;
}

