@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#alert {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'VT323', monospace;
    text-shadow: 5px 5px 10px rgba(229, 16, 245, 0.7);
    color: white;
}

.box { 
    border-radius: 10px;
    border: solid black;
}

html {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 100px;
    text-shadow: 5px 5px 10px rgba(229, 16, 245, 0.7);
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
    height: 50%;
    justify-content: center;
    align-content: center;
}

.parent > div {
    padding: 10px;
    background-color: white;
}

#play-button {
    font-size: 35px;
    font-family: 'VT323', monospace;
    border-radius: 10px;
    padding:.5em;
    background-color: #bde0fe;
    color: black;
    position:relative;
    display: block;
    margin-bottom: 1.5em;
    margin: 1em auto 0 auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

@keyframes color {
    0%   { background: #f3b5ed; }
    20%  { background: #d282f0; }
    40%  { background: #bd9bf6; }
    60%  { background: #88a9e9; }
    80%  { background: #d886f6; }
    100% { background: #f0b2ea; }
  }
  
  body {
    background: #33CCCC; 
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }

  .scores {
    font-family: 'VT323', monospace;
    font-size: 30px;
  }
