@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

#alert {
    text-align: center;
    color: white;
}

body {
    text-align: center;
    background: black;
    height: 100%;
    width: 100%;
}

.box { 
    border-radius: 10px;
    
}

html {
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 10px;
    height: 50%;
    justify-content: center;
    align-content: center;
}

.parent > div {
    padding: 10px;
    background-color: grey;
    
}

#play-button {
    font-size: 1.3em;
    border-radius: 10px;
    padding: 1em;
    background-color: yellow;
    color: black;
    position:relative;
    display: block;
    margin-bottom: 1.5em;
    margin: 1em auto 0 auto;
}

